@charset "UTF-8";

.Login-Form{min-height: 960px; background-image: url('/img/bg-login.jpg');
background-position: center; background-size: cover; background-repeat: no-repeat;}
.Login-Form{display: flex; align-items: center; flex-direction: row; flex-wrap: wrap;
justify-content: center; text-align: center;}

.main-div{background: #fffff; border-radius: 5px; margin: 0 auto; max-width: 50%; padding: 50px 70px;}

.form-control{background: #f7f7f7; border-radius: 7px; font-size: 15px; height: 50px; line-height: 50px;
border: 2px solid #d4d4d4;}

.form-group{margin: 10px;}

.btn.btn-primary{
    background: #024d57;
    border-color: #d4d4d4;
    font-size: 1.1em;
    padding: 0;
    height: 40px;
    width: 50%;
    margin: 10px;
}
.btn.btn-info{
    background: #8fecec;
    border-color: #d4d4d4;
    font-size: 1.1em;
    padding: 0;
    height: 40px;
    width: 50%;
}