<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Sistema de Gerenciamento de Alunos</title>
    <meta name="author" content="Julius Cavalcante">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>
    <body>
        <div th:replace="fragmentos/fragmentos :: cabecalho"></div>

        <div class="container">
        <h3>Últimos Inativos</h3>
        <hr>

        <table class="table table-bordered table-hover">

        <thead>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Matricula</th>
            <th scope="col">Status</th>
            <th scope="col">Turno</th>
            <th scope="col">Ação</th>
        </thead>
        <tbody>
            <tr scope="row" th:each="alunos : ${alunosInativos}">

                <td th:text="${alunos.nome}"></td>
                <td th:text="${alunos.curso}"></td>
                <td th:text="${alunos.matricula}"></td>
                <td th:text="${alunos.status}"></td>
                <td th:text="${alunos.turno}"></td>
                <td>
                 <a class="btn btn-primary" th:href="@{editar/{id}(id=${alunos.id})}">
                 <i class="bi bi-pencil-square"></i> Editar</a>

                 <a class="btn btn-danger" th:href="@{remover/{id}(id=${alunos.id})}">
                 <i class="bi bi-x-square"></i> Remover</a>
                </td>
            </tr>
        </tbody>
        </table>
        </div>

        <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>